.carousel_container{
    width: 80%;
    margin: auto;
    margin-top: 5rem;
}

.main_section{
    width: 80%;
    margin:5rem auto;
    
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    
    justify-content: center;
}

.img_div img{
    max-width: 40rem;
}

.text_container h1{
    font-size: 5rem;
    text-transform: capitalize;
    margin-bottom: 1rem;
    color: brown;
}

.text_container p{
    font-size: 1.8rem;
}